@page
@using DotNet_grams.Models.Interfaces

@inject IPost postservice

@{
    Layout = "_Layout";
}

@{
    var posts = await postservice.GetPosts();
}
<div class="parent">
    @foreach (var p in posts)
    {
        <div class="container">
            <h3>@p.PosterName</h3>
            <p>@p.Description</p>
            <img src="@p.URL" alt="" />
            <a asp-page="/Posts/Index" asp-route-id="@p.ID">
                <p>View Details</p>
            </a>
        </div>
    }
</div>