body {
    background-color:beige;
        text-align:center;
}

h1 {
    font-family: 'Rock Salt', cursive;
    text-align: center;
}

.nav {
    position:fixed;
    top: 0;
    right:0;
}

    .nav ul {
        background-color:lightgrey;
        list-style: none;
        display: inline-block;
        text-align: center;
        padding: 0;
        margin: 0;
    }


    .nav li {
        color: #000;
        display: block;
        padding: 0.3rem;
        position: relative;
        text-decoration: none;
        transition-duration: 0.5s;
    }
.parent {
    display: table;
margin-left:auto;
margin-right:auto;
margin-top:1em;
}
.container {
    display: table-cell;
    margin-bottom: 2em;
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
    text-align: left;
    display: inline-block;
}

form {
    display: block;
    padding: 1em 1em 1em 1em;
}


/*.des {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
}*/
img{

   width: 20vw;
   height:30vh;
}