@page "{id}"
@model DotNet_grams.Pages.Posts.IndexModel
@{
}

<div>
    <label asp-for="Post.Description"></label>
    <label asp-for="Post.Description">@Model.Post.Description</label>
</div>

<div>
    <label asp-for="Post.PosterName"></label>
    <label asp-for="Post.PosterName">@Model.Post.PosterName</label>
</div>