@page "{id}"
@model DotNet_grams.Pages.Posts.IndexModel
@{
}

@{
    Layout = "_Layout";
}
<img src="@Model.Post.URL" />

<div>
    <label asp-for="Post.Description">Description:</label>
    <label asp-for="Post.Description">@Model.Post.Description</label>
</div>

<div>
    <label asp-for="Post.PosterName">By:</label>
    <label asp-for="Post.PosterName">@Model.Post.PosterName</label>
</div>

<a asp-page="/Posts/Manage" asp-route-id="@Model.Post.ID">Edit Details</a>