@page "{id?}"
@model DotNet_grams.Pages.Posts.ManageModel
@{
    ViewData["Title"] = "Manage";
}
@{
    Layout = "_Layout";
}

<P>Details of The Post</P>
<div class="formcontainer">
    <form method="post">
        <label asp-for="Post.PosterName"></label>
        <input asp-for="Post.PosterName" />

        <label asp-for="Post.URL"></label>
        <input asp-for="Post.URL" />

        <label asp-for="Post.Description"></label>
<textarea rows="5" asp-for="Post.Description"></textarea>
        <div>
            <button type="submit">SAVE</button>
            <button type="submit" asp-page-handler="Delete">DELETE</button>
        </div>

    </form>
</div>