@page "{id?}"
@model DotNet_grams.Pages.Posts.ManageModel
@{
    ViewData["Title"] = "Manage";
}
@{
    Layout = "_Layout";
}

<P>Details of The Post</P>
<div class="parent">
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            <div class="des">
                <label asp-for="Image"></label>
                <input asp-for="Image" type="file" />
            </div>
            <div class="des">
                <label asp-for="Post.PosterName" class="lcass"></label>
                <input asp-for="Post.PosterName" />
            </div>
            <div class="des">
                <label asp-for="Post.URL" class="lcass"></label>
                <input asp-for="Post.URL" />
            </div>
            <div class="des">
                <label asp-for="Post.Description" class="lcass"></label>
                <textarea rows="5" asp-for="Post.Description"></textarea>
            </div>
                <button type="submit">SAVE</button>
                <button type="submit" asp-page-handler="Delete">DELETE</button>


        </form>
    </div>
</div>